{
  "root": true,
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "rules": {
      "prefer-promise-reject-errors": 0,
      "consistent-return": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
